<h1>Badges List:</h1>

<p>
  <%= link_to 'New badge', new_admin_badge_path %> | 
  <%= link_to 'To Tests', admin_tests_path %>
</p>

<%= render 'shared/errors', resource: @badge %>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Badge rule</th>
    <th colspan = "2">Actions</th>
  </tr>
  <%= render @badges %>
</table>